<div class="row">
    <h4>Create New Event</h4>
    <form role="form">
    <p class="form-group">
        <label for="eventName">Name</label>
        <input id="eventName" placeholder="e.g. Christmas Card, Wedding Invitations" required name="eventName" type="text" ng-model="model.name" class="form-control" />
    </p>
    <p>
        <button  class="btn btn-primary" ng-click="createEvent(model)">Submit</button>
    </p>
    </form>
    <p ng-show="err" class="bg-danger">{{err}}</p>
</div>
<div class="row">
    <h4>My Events</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Created</th>
                <th>Invitations Sent</th>
                <th>Addresses Received</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events">
                <td><a href="" ng-click="redirect(event.id)">{{ event.name }}</a></td>
                <td>{{ event.createdAt | date:'medium'}}</td>
                <td>{{ event.invitationCount }}</td>
                <td>{{ event.addressCount }}</td>
            </tr>
            <tr ng-if="events.length == 0">
                <td>You have no events</td>
            </tr>
        </tbody>
  </table>
</div>
