<div class="row">
    <div class="container">
        <h4>Your addresses</h4>
        <table class="table">
            <thead>
                <td class="name-header">Name</td>
                <td>Address</td>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresses" ng-if="address.owner == profile.id">
                    <td>{{ address.name }}</td>
                    <td>
                        {{ address.address1 }}<br>
                        {{ address.address2 }}<br>
                        {{ address.city }}, {{ address.state }} {{ address.postalCode }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="container">
        <h4>Addresses shared with you</h4>
        <table class="table">
            <thead>
                <td class="name-header">Name</td>
                <td>Address</td>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresses" ng-if="address.owner !== profile.id">
                    <td>{{ address.ownerName }}</td>
                    <td>
                        {{ address.address1 }}<br>
                        {{ address.address2 }}<br>
                        {{ address.city }}, {{ address.state }} {{ address.postalCode }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>