<form role="form">
   <p class="form-group" ng-cloak>
        <label for="addressName">Address Name</label>
        <input id="addressName" name="addressName" type="text" ng-model="model.addressName" class="form-control" />
   </p>
   <p class="form-group" ng-cloak>
        <label for="address1">Address 1</label>
        <input id="address1" required name="address1" type="text" ng-model="model.address1" class="form-control" />
   </p>
   <p class="form-group" ng-cloak>
        <label for="address2">Address 2</label>
        <input id="address2" name="address2" type="text" ng-model="model.address2" class="form-control" />
   </p>
   <p class="form-group" ng-cloak>
        <label for="city">City</label>
        <input id="city" required name="city" type="text" ng-model="model.city" class="form-control" />
    </p>
    <p class="form-group" ng-cloak>
        <label for="state">State</label>
        <select if="state" class="form-control" ng-model="model.state" name="state" required ng-options="code for (code, state) in states">...</select>
   </p>
   <p class="form-group" ng-cloak>
        <label for="postalCode">Zip Code</label>
        <input id="postalCode" required name="postalCode" type="text" ng-model="model.postalCode" class="form-control" />
   </p>
   <p class="form-group" ng-cloak>
        <label for="counrty">Country</label>
        <select required id="counrty" class="form-control" ng-model="model.country" name="state" required ng-options="country.name for country in countries"></select>
   </p>
   <p>
        <button  class="btn btn-primary" ng-cloak ng-click="add(model)">Submit</button>
   </p>
</form>
<p ng-show="err" class="bg-danger">{{err}}</p>
