<form role="form">
   <p class="form-group" ng-cloak>
        <label for="firstName">First Name</label>
        <input id="firstName" required name="firstName" type="text" ng-model="model.firstName" class="form-control" />
   </p>
   <p class="form-group" ng-cloak>
        <label for="lastName">Last Name</label>
        <input id="lastName" required name="lastName" type="text" ng-model="model.lastName" class="form-control" />
   </p>
  <p class="form-group">
        <label for="loginEmail">email</label>
        <input id="loginEmail" required name="email" type="email" ng-model="model.email" class="form-control" />
  </p>
  <p class="form-group">
        <label for="loginPass">password</label>
        <input id="loginPass" required name="pass" type="password" ng-model="model.pass" class="form-control" />
  </p>
  <p class="form-group" ng-cloak>
        <label for="loginConfirm">confirm pass</label>
        <input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" class="form-control" />
  </p>
   <p>
        <button  class="btn btn-primary" ng-cloak ng-click="createAccount(model, confirm)">Create Account</button>
   </p>
</form>
<p ng-show="err" class="bg-danger">{{err}}</p>
